.home-container1 {
  width: 100%;
  display: flex;
  min-height: 100vh;
  align-items: center;
  flex-direction: column;
}
 
.home-container2 {
  width: 100%;
  height: auto;
  display: flex;
  align-items: center;
  flex-direction: column;
  justify-content: flex-start;
}
 
.home-text10 {
  padding-top: var(--dl-layout-space-halfunit);
  padding-left: var(--dl-layout-space-halfunit);
  padding-right: var(--dl-layout-space-halfunit);
  padding-bottom: var(--dl-layout-space-halfunit);
}
 
.home-image1 {
  width: 100%;
  height: 100%;
  object-fit: cover;
}
 
.home-text11 {
  line-height: 1.2;
  padding-top: var(--dl-layout-space-halfunit);
  padding-left: var(--dl-layout-space-halfunit);
  padding-right: var(--dl-layout-space-halfunit);
  padding-bottom: var(--dl-layout-space-halfunit);
}
 
.home-image2 {
  width: 100%;
  height: 100%;
  object-fit: cover;
}
 
.home-text15 {
  font-style: normal;
  font-weight: 600;
  line-height: 1.2;
  padding-top: var(--dl-layout-space-halfunit);
  padding-left: var(--dl-layout-space-halfunit);
  padding-right: var(--dl-layout-space-halfunit);
  padding-bottom: var(--dl-layout-space-halfunit);
}
 
.home-image3 {
  width: 100%;
  height: 100%;
  object-fit: cover;
}
 
.home-link1 {
  color: #1515e8;
  font-size: 20px;
  font-style: normal;
  font-weight: 700;
  padding-top: var(--dl-layout-space-unit);
  padding-left: var(--dl-layout-space-halfunit);
  padding-right: var(--dl-layout-space-halfunit);
  padding-bottom: var(--dl-layout-space-threeunits);
}
 
.home-text37 {
  font-style: normal;
  font-weight: 600;
  line-height: 1.2;
  padding-top: var(--dl-layout-space-twounits);
  padding-left: var(--dl-layout-space-twounits);
  padding-right: var(--dl-layout-space-twounits);
  padding-bottom: var(--dl-layout-space-threeunits);
}
 
.home-link2 {
  display: contents;
}
 
.home-container3 {
  right: 50px;
  border: 1px solid #ffffff5c;
  bottom: 30px;
  display: flex;
  z-index: 22;
  position: fixed;
  box-shadow: 5px 5px 10px 0px rgba(31, 31, 31, 0.4);
  min-height: auto;
  align-items: center;
  padding-top: 8px;
  padding-left: 12px;
  border-radius: 8px;
  padding-right: 12px;
  padding-bottom: 8px;
  backdrop-filter: blur(6px);
  background-color: rgba(41, 41, 41, 0.41);
}
 
.home-icon1 {
  width: 24px;
  margin-right: 4px;
}
 
.home-text46 {
  color: white;
  font-size: 13px;
  font-style: normal;
  font-weight: 500;
  line-height: 24px;
}
 
@media(max-width: 479px) {
  .home-text10 {
    align-self: center;
    padding-top: var(--dl-layout-space-halfunit);
    padding-left: var(--dl-layout-space-halfunit);
    padding-right: var(--dl-layout-space-halfunit);
    padding-bottom: var(--dl-layout-space-halfunit);
  }
  .home-text11 {
    align-self: center;
    padding-top: var(--dl-layout-space-halfunit);
    padding-left: var(--dl-layout-space-halfunit);
    padding-right: var(--dl-layout-space-halfunit);
    padding-bottom: var(--dl-layout-space-halfunit);
  }
  .home-text15 {
    align-self: center;
    padding-top: var(--dl-layout-space-halfunit);
    padding-left: var(--dl-layout-space-halfunit);
    padding-right: var(--dl-layout-space-halfunit);
    padding-bottom: var(--dl-layout-space-halfunit);
  }
  .home-link1 {
    color: #2525e9;
    padding: var(--dl-layout-space-unit);
    font-style: normal;
    font-weight: 700;
    padding-top: var(--dl-layout-space-halfunit);
    padding-left: var(--dl-layout-space-halfunit);
    padding-right: var(--dl-layout-space-halfunit);
    padding-bottom: var(--dl-layout-space-halfunit);
  }
  .home-text37 {
    align-self: center;
    padding-top: var(--dl-layout-space-halfunit);
    padding-left: var(--dl-layout-space-halfunit);
    padding-right: var(--dl-layout-space-halfunit);
    padding-bottom: var(--dl-layout-space-threeunits);
  }
}
